<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/orderStyle.css"
</head>
<body>
   <h1>Collect Here</h1> 
    <h1>Queue</h1>
    <form method="POST" action="/collect">
    {% for order in orders %}
    {% if (order['available'] == True) %}
    <b>{{ order['orderId'] }} not ready</b>
    {% endif %}
    <li>{{ order['orderId'], order['itemName'] }}</li>
    <button name="collect-button" value="{{order['orderId']}}">Collect Item</button>
    {% endfor %}
    </form>
    <h1>Need anything more?
    <a href="/orders">Order Now!</a></h1>
</body>
</html>