<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="static/orderStyle.css">
</head>
<body>
    <h1>Welcome!</h1>
    <h3>Please proceed to order.</h3>
    <button id="orderButton">COFFEEE!</button>
    <script>
        document.getElementById("orderButton").onclick = function() {
            window.location.href = "/orders";
        };
    </script>
</body>
</html>