<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/orderStyle.css"
</head>
<body>
    <h1>Options</h1>
    <h1>Choose your Coffee</h1>
    <form action="/orders" method="post"> 
        {% for option in options %}
        <label for="{{option}}">{{option}}</label>
        <input type="radio" id="{{option}}" name="coffee" value="{{option}}">
        <br>
        {% endfor %}
        <button type="submit" name="action" value="surprise">Surprise Me!</button>
    <button type="submit" name="action" value="confirm">Confirm</button>
</form>
<span>
<button onclick="window.location.href = '/collect'">View Orders</button>
</span>
</body>
</html>